
<div *ngFor="let deck of userSharedDecks" [attr.id]="deck._id" class="deck-list__item">
  <div class="d-flex deck-list">
    <th class="mr-auto p-2">
        <a [routerLink]="['/decks/show', deck.deck_id]">
            {{ deck.name }}
        </a>
    </th>
    <td class="p-2">
        <div class="dropdown">
          <button class="btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/decks/show', deck.deck_id]"><i class="fa fa-eye fa-fw"></i> Cards</a>
            <a class="dropdown-item" [routerLink]="['/card/add', deck.deck_id]"><i class="fa fa-fw fa-plus"></i> Add card</a>
            <a class="dropdown-item" [routerLink]="['/decks', deck.deck_id, 'edit']"><i class="fa fa-fw fa-cog"></i> Edit</a>
            <a class="dropdown-item" id="delete" (click)="showDeleteDialog(deck._id)"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
          </div>
        </div>
      </td>
  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
