<div class="d-flex">
  <th class="mr-auto p-2">
    <h3>Decks</h3>
  </th>
  <td class="p-2">
    <a [routerLink]="['/decks/add']"><button mat-raised-button color="primary"><i class="material-icons">add_circle</i> Create deck</button></a>
  </td>
</div>
<div *ngFor="let deck of decks" [attr.id]="deck._id" class="deck-list__item">
  <div class="d-flex deck-list">
    <th class="mr-auto p-2"><a matTooltip="( new cards, failed cards, repetition cards )"
      matTooltipClass="card-tooltips" matTooltipPosition="right" [routerLink]="['/study', deck._id]">
      {{ deck.name }} (<span class="new-card">{{cards[deck._id].newCards}}</span>, <span class="failed-card">{{cards[deck._id].failedCards}}</span>, <span class="rep-card">{{cards[deck._id].repCards}}</span>)</a></th>
    <td class="p-2">
      <div class="dropdown">
        <button mat-raised-button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/study', deck._id]"><i class="fa fa-book fa-fw"></i> Study ({{cards[deck._id] ? cards[deck._id].study_cards : 0}})</a>
          <a class="dropdown-item" [routerLink]="['/decks/show', deck._id]"><i class="fa fa-eye fa-fw"></i> Cards ({{cards[deck._id] ? cards[deck._id].total_cards : 0}})</a>
          <a class="dropdown-item" [routerLink]="['/card/add', deck._id]"><i class="fa fa-fw fa-plus"></i> Add card</a>
          <a class="dropdown-item" [routerLink]="['/decks', deck._id, 'edit']"><i class="fa fa-fw fa-cog"></i> Edit</a>
          <a class="dropdown-item" id="delete" (click) = "showDialog(deck._id)"><i class="fa fa-fw fa-trash-o"></i> Delete</a>
        </div>
      </div>
    </td>
  </div>
</div>
<!-- <hr/> -->
<app-confirm-dialog></app-confirm-dialog>
