
.borderless td, .borderless th {
  border: 4px solid white;
}



.dropdown-menu a#delete:hover {
  cursor: pointer;
}

/* i {
  background: white;
  color: black;
} */



/* Darker background on mouse-over */
.btn:hover {
  background-color: green;
}

#add-button {
  background: none;
  color:white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
