<button (click)="goBack()" class="btn btn-secondary mr-1 mb-2 btn-sm">
  < Back to decks
</button>
<button *ngIf="deck && !deck.shared" (click)="router.navigate(['/card/add/' + deckId])" class="btn btn-success mr-1 mb-2 btn-sm float-right">
  <i class="fa fa-fw fa-plus"></i> Add card
</button>
<a *ngIf="deck && !deck.shared" [routerLink]="['/study', deckId]" class="btn btn-info btn-sm mr-1 mb-2 float-right">
  <i class="fa fa-book fa-fw"></i> Study
</a>

<table class="table table-hover" style="width: 100%; table-layout: fixed; word-wrap: break-word;">
  <thead>
  <tr class="font-weight-bold">
    <td>English</td>
    <td>Japanese reading</td>
    <td>Kanji</td>
    <td>Actions</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let card of cards" [attr.id]="card._id">
    <td >
      <div [hidden]="card.edit">{{ card.english_word }}</div>
      <input [hidden]="!card.edit" [value]="card.english_word" #english_word/>
    </td>

    <td>
      <div [hidden]="card.edit">{{ card.japanese_reading }}</div>
      <input [hidden]="!card.edit" [value]="card.japanese_reading" #japanese_reading/>
    </td>

    <td >
      <div [hidden]="card.edit">{{ card.kanji }}</div>
      <input [hidden]="!card.edit" [value]="(card.kanji ? card.kanji : '')" #kanji/>
    </td>
    <td>
      <a (click)="updateCard(card, english_word.value, japanese_reading.value, kanji.value)" class="btn btn-info btn-sm mr-1">
        {{card.edit ? "Save" : "Edit"}}
      </a>
      <a (click) = "deleteCard(card._id)" class="btn btn-danger btn-sm mr-1">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>

