<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Deck name</label>
        <input type="text" class="form-control" formControlName="deck_name" #deck_name />
      </div>
      <div *ngIf="angForm.controls['deck_name'].invalid && (angForm.controls['deck_name'].dirty || angForm.controls['deck_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['deck_name'].errors.required">
          Deck name is required.
        </div>
      </div>
      <button (click)="addDeck(deck_name.value)"
              [disabled]="angForm.pristine || angForm.invalid"
              class="btn btn-primary">
        Create deck
      </button>
    </form>
  </div>
</div>
