<button (click)="router.navigate(['/decks/all'])" class="btn btn-primary mt-1 mr-1 mb-2 btn-sm">
  < Back to decks
</button>

<div class="jumbotron text-center" style="min-height: 400px; position: relative">

  <div *ngIf="status === STATUS.Studying && !edit" class="btn btn-primary btn-sm" (click)="edit = !edit;" style="position:absolute; top: 0; right: 0; margin: auto">
    Edit Card
  </div>

  <span [hidden]="edit">
    <div *ngIf="status === STATUS.Studying" class="btn-group btn-group-toggle" data-toggle="buttons" style="position:absolute; top: 0; left: 0; margin: auto">
    <label class="btn btn-primary active btn-sm" (click)="showing=SHOW_OPTIONS.Both">
      <input type="radio">Both
    </label>
    <label class="btn btn-primary btn-sm" (click)="showing=SHOW_OPTIONS.Reading">
      <input type="radio">Reading
    </label>
    <label class="btn btn-primary btn-sm" (click)="showing=SHOW_OPTIONS.Kanji">
      <input type="radio">Kanji
    </label>
  </div>

    <div *ngIf="status === STATUS.Studying">
      <div *ngIf="currentOrder === CARD_ORDERS.EngJap">
        <p>{{current_card.english_word}}</p>
      </div>

      <div *ngIf="currentOrder === CARD_ORDERS.JapEng">
        <p *ngIf="(showing === SHOW_OPTIONS.Both || showing === SHOW_OPTIONS.Reading)">{{current_card.japanese_reading}}</p>
        <p *ngIf="(showing === SHOW_OPTIONS.Both || showing === SHOW_OPTIONS.Kanji)">{{(!current_card.kanji ? "[No kanji available]" : current_card.kanji)}}</p>
      </div>
      <div *ngIf="revealed || edit">
        <hr class="my-4">
        <div *ngIf="currentOrder === CARD_ORDERS.JapEng">
          <p *ngIf="!edit">{{current_card.english_word}}</p>
        </div>
        <div *ngIf="currentOrder === CARD_ORDERS.EngJap">
          <p *ngIf="(showing === SHOW_OPTIONS.Both || showing === SHOW_OPTIONS.Reading)">{{current_card.japanese_reading}}</p>
          <p *ngIf="(showing === SHOW_OPTIONS.Both || showing === SHOW_OPTIONS.Kanji)">{{(!current_card.kanji ? "[No kanji available]" : current_card.kanji)}}</p>
        </div>
      </div>

      <div class="bottom-align-text" style="position:absolute; bottom: 0; left: 0; right: 0; margin: auto">
        <button *ngIf="!revealed" (click)="revealed = true;" class="btn btn-primary mr-1">
          Show Answer
        </button>
        <button *ngIf="revealed" (click)="changeCard(DIFFICULTY.Fail)" class="btn btn-danger mr-1">
          Fail (soon)
        </button>
        <button *ngIf="revealed" (click)="changeCard(DIFFICULTY.Hard)" class="btn btn-warning mr-1">
          Hard ({{last_wait_time === 0 ? 1 : last_wait_time*2}} {{last_wait_time === 0 ? 'day' : 'days'}})
        </button>
        <button *ngIf="revealed" (click)="changeCard(DIFFICULTY.Easy)" class="btn btn-success mr-1">
          Easy ({{last_wait_time === 0 ? 4 : last_wait_time*4}} days)
        </button>
      </div>
    </div>

    <div *ngIf="status === STATUS.Finished">
      Finished all cards!
    </div>
  </span>


  <div [hidden]="!edit" style="display: inline-block;">
    <div style="text-align: right;">
      English: <input [value]="current_card.english_word" #english_word/>
      <hr class="my-4">
      Japanese reading: <input [value]="current_card.japanese_reading" #japanese_reading/><br/>
      Kanji: <input [value]="(current_card.kanji ? current_card.kanji : '')" #kanji/>
    </div>

    <div class="bottom-align-text" style="position:absolute; bottom: 0; left: 0; right: 0; margin: auto">
      <button (click)="updateCard(english_word.value, japanese_reading.value, kanji.value);" class="btn btn-success mr-1">
        Save card
      </button>
      <button (click)="edit = !edit" class="btn btn-primary mr-1">
        Go back
      </button>
    </div>
  </div>

</div>
