/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100%;
  --japan-red: #C70025;
  background-color: #333;
  color: white;
}

h3, a, hr {
  color: white;
}

h3, a:hover, hr {
  text-decoration-color: var(--japan-red);
}

.btn-secondary:hover {
  background-color: #00C896 !important;
}

.box {
  display: inline-block;
}

.letter {
  text-align : center;
  font-size  : 1em;
  margin     : 0;
  color      : white;
  font-weight: 500;
  line-height: 0.7;
  margin-left: -6px;
}

.bounce {
  color    : #C70025;
  animation                : bounce 0.3s 2 alternate ease-out, color-change 2s 1 normal;
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

@keyframes color-change {
  from {
      color: #ffffff;
  }

  to {
      color: #ff0000;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
