/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --main-bg-color: #1a1a1d;
  --secondary-bg-color: #333;
  --japan-red: #C70025;
  --main-gray: #4e4e50;
  --gray-variance: rgb(102, 102, 105);
  --primary-color: #c3073f;
  --primary-accent: #9c3046;
  --secondary-color: #950740;
  --secondary-accent: #6f2232;
  --paragraph-text: #fff;
  --headline-text: rgb(102, 102, 105);
  --transparent-background: rgba(30,31,35,0.4);
  --link-color: #fff;
  --h1: rgb(219, 211, 208);

  --pyramid-main-1: #c3073f;
  --pyramid-accent-1: #950740;
  --pyramid-main-2: #bb1741;
  --pyramid-accent-2: #8d113d;
  --pyramid-main-3: #b42042;
  --pyramid-accent-3: #86183a;
  --pyramid-main-4: #ac2644;
  --pyramid-accent-4: #7e1c37;
  --pyramid-main-5: #a42c45;
  --pyramid-accent-5: #771f34;
  --pyramid-main-6: #9c3046;
  --pyramid-accent-6: #6f2232;

  --primary: #FF6F84;
  --secondary:#4C394C;
  --cancel: red;
  --accept: #5ABAB6;
  --limbo: #FBB364;
}

@media (min-width: 992px) {
  .main {
    margin-top: 300px;
  }
}

body {
  height: 100%;
  color: var(--headline-text);
  background-color: var(--main-bg-color);
}

.nav__toggle {
  margin-top: 3px;
  margin-right: 10px;
}

.background--svg {
  bottom: 0;
  position: fixed;
  min-width: 1550px;
  max-height: 920px;
  z-index: -1;
}

.mat-tab-label-content {
  color: var(--link-color);
}

.cover-container {
  background-color: var(--transparent-background);
  min-height: 100%;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.mat-dialog-container {
  background-color: var(--main-bg-color) !important;
}

.jumbotron {
  color: var(--paragraph-text);
}

.mat-form-field-label{
  color: var(--paragraph-text) !important;
}

.mat-form-field {
  color: var(--paragraph-text) !important;
}

// HEY EMIL DID I DO A BOBBO HERE?
.ng-star-inserted {
  color: var(--paragraph-text) !important;
}

.mat-form-field-underline{
  background-color: var(--paragraph-text) !important;
}

.table {
  color: var(--paragraph-text);
}

h3, a, hr {
  color: var(--link-color);
}

h1 {
  color: var(--h1);
}

h3, #brand:hover, hr {
  text-decoration-color: var(--japan-red);
}

a, .mat-slide-toggle-content {
  color: var(--link-color);
  font-weight: 400;
}

.action-button {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

th {
  align-self: center;
}

.failed-card {
  color: var(--cancel);
}

.new-card {
  color: var(--accept);
}

.rep-card {
  color: var(--limbo);
}

.card {
  background-color: var(--secondary-bg-color);
  color: var(--paragraph-text);
}

.deck-list__item a:hover {
  font-weight: 600;
  text-decoration: none;
}

// button:focus{ 
//   outline-width: thin;
//   outline-color: red;
// }

.mat-raised-button.mat-primary {
  background-color: var(--limbo) !important;
  color: var(--secondary-bg-color) !important;
}

.mat-raised-button.mat-accent {
  background-color: var(--primary) !important;
}

.mat-raised-button.mat-warn {
  background-color: var(--cancel) !important;
}

.mat-raised-button:hover {
  color: #fff !important;
  background-color: var(--secondary-bg-color) !important;
}

.deck-list {
  height: 100%;
}

.mat-tab-body.mat-tab-body-active {
  min-height: 300px;
}

.deck-list__item {
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: 0px solid black !important;
  margin-left: 5px;
  margin-right: 5px;
}

.deck-list__item:nth-of-type(even) {
  background-color: var(--primary-accent);
}

.mat-mini-fab.mat-button-base {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.deck-list__item:nth-of-type(odd) {
  background-color: var(--secondary-accent);
}

.box {
  display: inline-block;
}

.main {
  height: 100%;
}

.hero-container {
  height: 100%;
}

.hero--align-middle {
  position: relative;
  top: 30%;
}

.hero-header {
  font-size: 50px;
}

.japanki-logo {
  white-space: nowrap;
}

.lead {
  font-size: 30px;
  line-height: 1.2;
}

.letter, .letter--large {
  text-align : center;
  font-size  : 1em;
  margin     : 0;
  font-weight: 500;
  line-height: 0.7;
}

.bounce, .bounce--large {
  color    : var(--japan-red);
}

.letter {
  margin-left: -6px;
}

.letter--large { 
  margin-left: -10px;
}

.letter-l--large {
  color: var(--h1);
}

.letter-l {
  color: var(--link-color);
}

@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }

  to {
      transform: translate3d(0, -10px, 0);
  }
}

@keyframes color-change {
  from {
      color: #ffffff;
  }

  to {
      color: var(--japan-red);
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }