<button (click)="router.navigate(['/decks/show/' + deckId])" class="btn btn-secondary mt-1 mr-1 mb-2 btn-sm">
  Show deck
</button>

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="d-flex">
        <div class="form-group p-2 flex-grow-1" style="width: auto;">

          <input placeholder="Search (Japanese/English)" type="text" class="form-control" formControlName="search_word" #search_word />
        </div>
        <div class="form-group p-2">
          <button (click)="getSuggestions(search_word.value)"
                  [disabled]="angForm.pristine || angForm.invalid"
                  class="btn btn-secondary">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
    <h3>Add a card</h3>

    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">

      <!--<span class="badge badge-secondary d-inline-flex align-items-center mr-1 font-weight-light">
        <div style="font-size: 14px">Cards to add:</div>
      </span>-->
      <label class="btn btn-secondary active btn-sm" (click)="setOrder(CardOrders.Both)">
        <input type="radio">Both
      </label>
      <label class="btn btn-secondary btn-sm" data-toggle="tooltip" (click)="setOrder(CardOrders.EngJap)">
        <input type="radio">Eng -> Jap
      </label>
      <label class="btn btn-secondary btn-sm" (click)="setOrder(CardOrders.JapEng)">
        <input type="radio">Jap -> Eng
      </label>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="card h-100 border-light">
            <div class="card-body">
              <dl>
                <dt>English</dt>
                <input class="flex-grow-1" (change)="customAdded=false;" #custom_english_word/>

                <dt>Japanese reading</dt>
                <input (change)="customAdded=false;" #custom_japanese_reading/>

                <dt>Kanji</dt>
                <input  (change)="customAdded=false;" #custom_kanji/>
              </dl>
              <dl>
                <button (click)="addCard(custom_english_word.value, custom_japanese_reading.value, custom_kanji.value, '');
                  customAdded = true;" class="btn btn-success" [disabled]="customAdded">
                  {{customAdded ? 'Added' : 'Add'}}
                </button>
              </dl>

          </div>
        </div>
        </div>
        <div class="col-sm-6 mb-2" *ngFor="let card of suggestionCards">
          <div class="card h-100 border-light">
            <div class="card-body">
              <dl>
                <dt>English</dt>
                <dd [hidden]="card.edit">
                  <div [hidden]="card.dropdown">
                    {{card.senses[0].english_definitions.join('; ')}}
                  </div>

                  <ng-multiselect-dropdown [hidden]="!card.dropdown"
                    [placeholder]="'-choose at least one option-'"
                    [data]="card.data"
                    [(ngModel)]="card.selected"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect(card)"
                    (onSelectAll)="onSelectAll(card)"
                    (onDeSelect)="onDeSelect(card)"
                  >
                  </ng-multiselect-dropdown>
                </dd>
                <input [hidden]="!card.edit" [value]="(card.dropdown ? card.selected.join('; ') : card.senses[0].english_definitions.join('; '))" #english_word/>

                <dt>Japanese reading</dt>
                <dd [hidden]="card.edit">{{card.japanese[0].reading}}</dd>
                <input [hidden]="!card.edit" [value]="card.japanese[0].reading" #japanese_reading/>

                <dt>Kanji</dt>
                <dd [hidden]="card.edit">{{card.japanese[0].word ? card.japanese[0].word : '-'}}</dd>
                <input [hidden]="!card.edit" [value]="card.japanese[0].word ? card.japanese[0].word : ''" #kanji/>
              </dl>
              <button (click)="card.edit ? addCard(english_word.value, japanese_reading.value, kanji.value, '', card) :
                                           addCard((card.dropdown ? card.selected.join('; ') : card.senses[0].english_definitions.join('; ')), card.japanese[0].reading, card.japanese[0].word, '', card);"
                      class="btn btn-success" [disabled]="card.added || (card.dropdown && card.selected.length == 0)">
                {{card.added ? 'Added' : 'Add'}}
              </button>
              <button (click)="card.added = false; card.edit = !card.edit;" class="btn btn-primary">
                {{card.edit ? 'Go back' : 'Edit'}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
