<button (click)="router.navigate(['/decks/show/' + deckId])" class="btn btn-primary mt-1 mr-1 mb-2 btn-sm">
  Show deck
</button>

<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Search (Japanese/English)</label>
        <input type="text" class="form-control" formControlName="search_word" #search_word />
      </div>
      <div class="form-group">
        <button (click)="getSuggestions(search_word.value)"
                [disabled]="angForm.pristine || angForm.invalid"
                class="btn btn-primary">
          Get suggestions
        </button>
      </div>
    </form>
    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">

      <span class="badge badge-secondary mr-1"><h6>Cards to add:</h6></span>
      <label class="btn btn-primary active btn-sm" (click)="setOrder(CardOrders.Both)">
        <input type="radio">Both
      </label>
      <label class="btn btn-primary btn-sm" (click)="setOrder(CardOrders.EngJap)">
        <input type="radio">Eng -> Jap
      </label>
      <label class="btn btn-primary btn-sm" (click)="setOrder(CardOrders.JapEng)">
        <input type="radio">Jap -> Eng
      </label>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4"*ngFor="let card of suggestionCards">
          <div class="card h-100">
            <div class="card-body">
              <dl>
                <dt>English</dt>
                <dd [hidden]="card.edit">{{card.senses[0].english_definitions[0]}}</dd>
                <input [hidden]="!card.edit" [value]="card.senses[0].english_definitions[0]" #english_word/>

                <dt>Japanese reading</dt>
                <dd [hidden]="card.edit">{{card.japanese[0].reading}}</dd>
                <input [hidden]="!card.edit" [value]="card.japanese[0].reading" #japanese_reading/>

                <dt>Kanji</dt>
                <dd [hidden]="card.edit">{{card.japanese[0].word ? card.japanese[0].word : '-'}}</dd>
                <input [hidden]="!card.edit" [value]="card.japanese[0].word ? card.japanese[0].word : ''" #kanji/>
              </dl>
              <button (click)="card.edit ? addCard(english_word.value, japanese_reading.value, kanji.value, '', card) :
                                           addCard(card.senses[0].english_definitions[0], card.japanese[0].reading, card.japanese[0].word, '', card)"
                      class="btn btn-success" [disabled]="card.added">
                {{card.added ? 'Added' : 'Add'}}
              </button>
              <button (click)="card.edit = !card.edit" class="btn btn-primary">
                {{card.edit ? 'Go back' : 'Edit'}}
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
