<div class="shared-deck-container">
  <div class="d-flex">
    <th class="mr-auto p-2">
      <h3>Shared Decks</h3>
    </th>
  </div>
  <mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="tabChanged($event)">
    <mat-tab label="Shared decks">
      <ng-template matTabContent>
      <div *ngFor="let deck of sharedDecks" [attr.id]="deck._id" class="deck-list__item">
        <div class="container">
          <div class="row">
            <div class="col-md-11 align-self-center">
              <a [routerLink]="['/decks/show', deck.deck_id]">
                {{ deck.name }}
              </a>
            </div>
            <div class="col-md-1 align-self-center text-right">
              <button mat-mini-fab color="primary" (click)="showSaveDialog(deck.deck_id)">
                <mat-icon>
                  save_alt
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div> 
    </ng-template>
    </mat-tab>
    <mat-tab label="My shared decks">
      <ng-template matTabContent>
      <app-user-shared-decks></app-user-shared-decks>
    </ng-template>
    </mat-tab>
  </mat-tab-group>
    
  <!-- <hr/> -->
  <app-confirm-dialog></app-confirm-dialog>
</div>