<table class="table table-hover">
  <thead>
  <tr>
    <td>Deck name</td>
    <td>Actions</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let deck of decks" [attr.id]="deck._id">
    <td class="w-75">{{ deck.deck_name }}</td>
    <td class="w-25">
      <a [routerLink]="['/study', deck._id]" class="btn btn-primary">
        Study
      </a>
      <a [routerLink]="['/card/add', deck._id]" class="btn btn-primary">
        Add card
      </a>
      <a [routerLink]="['/decks/show', deck._id]" class="btn btn-primary">
        Show
      </a>
      <a (click) = "showDialog(deck._id)" class="btn btn-danger">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>

<app-confirm-dialog></app-confirm-dialog>
