<main role="main" class="px-3">
  <h1>Learn Japanese with Japanki!</h1>
  <p class="lead">With Japanki you can easily create and study flash-cards. Cards can be created by just searching
    for the word you want to learn, and then adding it to your deck with the press of a button! No more copy-pasting from other websites!
    Login, create a deck, and add cards to get started!</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Learn more</a>
  </p>
</main>
