<main role="main" class="px-3 main">
  <div class="hero--align-middle">
    <h1 class="hero-header">Learn Japanese with Japank    
      <span class="wrapper">
          <div class="box">
          <p class="letter--large bounce--large">.</p>
          <p class="letter--large">ı</p>
        </div>
      </span>!
    </h1>
    <p class="lead">With Japanki you can easily create and study flash-cards. Cards can be created by just searching
      for the word you want to learn, and then adding it to your deck with the press of a button! No more copy-pasting from other websites!
      Login, create a deck, and add cards to get started!</p>
  </div>
</main>