<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-5">
    <div>
      <h3 class="float-md-left mb-0 brand-text">
        
      <a id="brand" routerLink="/" routerLinkActive="active">
        Japank
        <span class="wrapper">
              <div class="box">
              <p class="letter bounce">.</p>
              <p class="letter">ı</p>
              </div>
        </span>
      </a>
      
      </h3>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <mat-slide-toggle labelPosition="before" class="nav__toggle" (change)="changeTheme()" [(ngModel)]="darkMode">Dark mode</mat-slide-toggle>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="decks/all" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          My decks
        </a>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="shared" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Shared decks
        </a>
        <a *ngIf="authenticationService.isLoggedIn" class="nav-link" href="#" (click)="logout()">Logout</a>
        <a *ngIf="!authenticationService.isLoggedIn" class="nav-link" href="#" (click)="signInWithGoogle()">
          <input type="image" id="myimage" src="../assets/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png" />
        </a>
      </nav>
    </div>
  </header>

  <div class="container hero-container">
    <router-outlet></router-outlet>
  </div>
</div>

<svg xmlns='http://www.w3.org/2000/svg' class="background--svg" viewBox='0 0 1600 900'>
  <polygon fill='var(--pyramid-main-1)' points='957 450 539 900 1396 900'/>
  <polygon fill='var(--pyramid-accent-1)' points='957 450 872.9 900 1396 900'/>
  <polygon fill='var(--pyramid-main-2)' points='-60 900 398 662 816 900'/>
  <polygon fill='var(--pyramid-accent-2)' points='337 900 398 662 816 900'/>
  <polygon fill='var(--pyramid-main-3)' points='1203 546 1552 900 876 900'/>
  <polygon fill='var(--pyramid-accent-3)' points='1203 546 1552 900 1162 900'/>
  <polygon fill='var(--pyramid-main-4)' points='641 695 886 900 367 900'/>
  <polygon fill='var(--pyramid-accent-4)' points='587 900 641 695 886 900'/>
  <polygon fill='var(--pyramid-main-5)' points='1710 900 1401 632 1096 900'/>
  <polygon fill='var(--pyramid-accent-5)' points='1710 900 1401 632 1365 900'/>
  <polygon fill='var(--pyramid-main-6)' points='1210 900 971 687 725 900'/>
  <polygon fill='var(--pyramid-accent-6)' points='943 900 1210 900 971 687'/>
</svg>