<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-4">
    <div>
      <h3 class="float-md-left mb-0">
        
      <a id="brand" routerLink="/" routerLinkActive="active">
        Japank
        <span class="wrapper">
              <div class="box">
              <p class="letter bounce">.</p>
              <p class="letter">ı</p>
              </div>
        </span>
      </a>
      
      </h3>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="decks/all" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          My decks
        </a>
        <a *ngIf="authenticationService.isLoggedIn" class="nav-link" href="#" (click)="logout()">Logout</a>
        <a *ngIf="!authenticationService.isLoggedIn" class="nav-link" href="#" (click)="signInWithGoogle()">
          <input type="image" id="myimage" src="../assets/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png" />
        </a>
      </nav>
    </div>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>



